<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>RESTClient</title>

			<!-- Bootstrap -->
			<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="css/style.css" type="text/css" />
			<link rel="stylesheet" href="bower_components/angular/angular-csp.css" type="text/css" />
	</head>
	<body>
	<div class="container">
		<div class="mainContainer" ng-app="MyApp" ng-csp>
			<div ng-controller="MainCtrl">
				<div class="row">
					<h1 class="jumbotron text-center">REST Client to make HTTP Get, Post, Put and Delete requests</h1>
				</div>
				<div class="row">
					<div class="col-md-offset-2">
						<div class="form-group">
							<select class="btn btn-default btn-lg" ng-model="selectedMethod">
								<option ng-repeat="x in method">{{x}}</option>
							</select> &nbsp;
							<input type="text" ng-model="url" placeholder="Enter the Url" class="search-query col-md-8 input-lg"/> &nbsp;
							<button class="btn btn-primary btn-lg" ng-click="fetch()">SEND</button>
						</div>
				</div>
			</div>
			<div class="row">
				<h4 class="text-center">Parameters</h4><hr>
				<div class="form-group text-center">
					<input type="text" placeholder="Key" name="key" ng-model="key" /> &nbsp;
					<input type="text" placeholder="value" name="value" ng-model="value" /> &nbsp;
					<button class="btn btn-success" ng-click="addParams()">ADD Params</button>
				</div>
			</div>
			<div class="col-md-offset-2 col-md-8 text-center">
				<table class="table">
					<tr>
						<th class="text-center">Key
						</th>
						<th class="text-center">Value
						</th>
					</tr>
					<tr ng-repeat="param in params">
						<td>{{ param.key }}
						</td>
						<td>{{ param.value }}
						</td>
					</tr>
				</table>
			</div>
			<textarea class="col-md-8 col-md-offset-2" rows="15" style="resize:none">
				{{ data }}
			</textarea>
			</div>
		</div>
	</div>


	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>

	<script src="js/app.js"></script>

	</body>
</html>